body {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form input{
    height: 25px;
    border-radius: 10px;
    border-style: solid;
}

#submit {
    width: 200px;
    margin-top: 18.4px;
}